<p><%= comments.count %>件のコメント</p>
<% comments.each do |comment| %>
  <div class="profile_show_comment" id="comment-<%= comment.id %>">
  <div class="show_post_header">
    <div>
      <%= image_tag comment.user.avatar.url, class: 'post_user_image' %>
      <%= comment.user.name %>
    </div>
    <div>
      <%= l comment.created_at, format: :default %>
    </div>
  </div>
  <div class="show_comment_body">
    <%= raw Rinku.auto_link(simple_format(h(comment.body)), :urls, 'target="_black"') %>
    <% if comment.comment_image.present? %>
      <%= link_to comment.comment_image.url, "data-lightbox": comment.comment_image do %>
        <div class="comment_show_image">
          <%= image_tag comment.comment_image.to_s %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="show_comment_footer">
    <div>
    <% if logged_in? %>
      <% if current_user&.own?(comment) %>
        <%= link_to t('helpers.submit.edit'), edit_post_comment_path(comment.post, comment), class: 'btn_show_text fas fa-edit' %>
        <%= link_to t('helpers.submit.delete'),
                post_comment_path(comment.post, comment),
                class: 'btn_show_text fas fa-trash-alt',
                data: { turbo_method: :delete, 
                turbo_confirm: t('helpers.submit.delete_comfirm') }  %>
      <% else %>
        <%= render 'comment_favorites/comment_favorite_buttons', { comment: comment } %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>