<% content_for(:title, t('.title')) %>
<div class="profile_top_title">
  <%= t('.title') %>
</div>
  <div class="main_content">
  <%= form_with model: @user, url: profile_path, method: :put do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-3 profile_edit_image">
      <label>
        <%= image_tag @user.avatar.url %>
        <span id="image_prev"></span>
        <%= f.file_field :avatar, class: "hidden", id: 'select_image', accept: 'image/*' %>
        <%= f.hidden_field :avatar_cache %>
        <p>画像を変更する</p>
      </label>
    </div>
    <div class="mb-3">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :bio %>
      <%= f.text_area :bio, class: "form-control", rows:"3" %>
    </div>
    <div class="btn_submit">
      <%= f.submit nil, class: "btn btn_text" %>
      <div class="btn_cancel">
        <%= link_to "戻る", profile_path, class: "btn btn_cancel_text" %>
      </div>
    </div>
  <% end %>
</div>

      
