<% post.comments.each do |comment| %>
  <% if !comment.parent_id %>
    <div class="show_comment" id="comment-<%= comment.id %>">
      <div class="show_post_header">
        <div>
          <%= image_tag comment.user.avatar.url, class: 'post_user_image' %>
          <%= comment.user.name %>
        </div>
        <div>
          <%= l comment.created_at, format: :default %>
        </div>
      </div>

      <div id="show-comment-<%= comment.id %>">

        <div class="show_comment_body">
          <%= raw Rinku.auto_link(simple_format(h(comment.body)), :urls, 'target="_black"') %>
          <% if comment.comment_image.present? %>
            <%= link_to comment.comment_image.url, "data-lightbox": comment.comment_image do %>
              <div class="comment_show_image">
                <%= image_tag comment.comment_image.to_s %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="show_comment_footer">
          <div>
          <% if logged_in? %>
            <% if current_user&.own?(comment) %>
              <button class="btn_show_text fas fa-edit edit-comment-btn" data-comment-id="<%= comment.id %>">
                <%= t('helpers.submit.edit') %>
              </button>
              <%= link_to t('helpers.submit.delete'),
                      post_comment_path(comment.post, comment),
                      class: 'btn_show_text fas fa-trash-alt',
                      data: { turbo_method: :delete, 
                      turbo_confirm: t('helpers.submit.delete_comfirm') }  %>
            <% else %>
              <%= render 'comment_favorites/comment_favorite_buttons', { comment: comment } %>
            <% end %>
          </div>
          <div>
            <button class="btn_show_text fas fa-comment reply_comment_btn">返信</button>
          </div>
          <% end %>
        </div>

      </div>

      <div id="edit-comment-<%= comment.id %>", class="edit-comment-form", style="display: none;">
        <%= render 'comments/form_edit',post: @post, comment: comment %>
      </div>
    </div>
  <% end %>
  <div id="reply-comment-<%= comment.id %>" class="reply-comment-form", style="display: none;">
    <%= render 'comments/form_reply',post: @post, comment_reply: @comment_reply, comment_parent_id: comment.id %>
  </div>


  <% if comment.replies.any?%>
    <% comment.replies.each do |reply| %>
      <%= render partial: 'comments/reply', locals: { reply: reply } %>
    <% end %>
  <% end %>


<% end %>