<div id="comment_form">
  <%= form_with model: [post, comment] do |f| %>
    <div class="mb-2">
      <%= f.text_area :body, class: 'form-control mb-2', rows: "1"%>
      <div class="post_form_image mb-2">
        <label class="form_image_button">
          <i class="fas fa-images"></i>
          <p>画像を追加する</p>
          <%= f.file_field :comment_image, class: "hidden", id: 'select_image', accept: 'image/*' %>
          <%= f.hidden_field :comment_image_cache %>
        </label>
        <span id="image_prev"></span>
        <%= image_tag comment.comment_image.url, id: 'edit_post_image' if comment.comment_image.present? %>
      </div>
      <div class="btn_submit">
        <%= f.submit t('helpers.submit.comment'), class: 'btn btn_show_text' %>
        <div class="btn_cancel">
          <button id="cancel_comment_btn", class="btn btn_cancel_text">キャンセル</button>
        </div>
      </div>
    </div>
  <% end %>
</div>