<div id="comment_form">
  <%= form_with model:[post, comment_reply], local: true do |f|%>
    <div class="mb-2">
      <%= f.text_area :body, class: 'form-control mb-2 comment_text_form',rows: "2"%>
      <div class="post_form_image mb-2">
        <label class="form_image_button">
          <i class="fas fa-images"></i>
          <p>画像を追加する</p>
          <%= f.file_field :comment_image, class: "hidden", id: 'select_image', accept: 'image/*' %>
          <%= f.hidden_field :comment_image_cache %>
        </label>
        <span id="image_prev"></span>
        <% if comment_reply.comment_image.present? %>
          <%= image_tag comment_reply.comment_image.url, id: 'edit_image' %>
          <div class="preview_btn"><i class="far fa-times-circle"></i></div>          
          <%= f.hidden_field :remove_post_image, id:'remove_image', value: false%>
        <% end %>
      </div>
      <%= f.hidden_field :parent_id, value: comment_parent_id %>
      <div class="btn_submit">
        <%= f.submit t('helpers.submit.reply'), class: 'btn btn_show_text' %>
        <div class="btn_cancel">
          <button id="cancel_comment_reply_btn", class="btn btn_cancel_text" data-comment-id="<%= comment_reply.id %>">キャンセル</button>
        </div>
      </div>
    </div>
  <% end %>
</div>