<%= form_with model:[@comment.post, @comment], local: true do |f|%>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-3">
    <%= f.label :body, class: "mb-1" %><span class="required"><%= t('default.required') %></span>
    <%= f.text_area :body, class:"form-control", rows:'3' %>
  </div>
  <div class="mb-3">
    <%= f.file_field :comment_image, class: "form-control mb-3", accept: 'image/*' %>
    <%= f.hidden_field :comment_image_cache %>
  </div>
  <div class="flex justify-end text-xs mt-1">
    <%= link_to t('helpers.submit.cancel'), post_path(@comment.post), class: 'btn' %>
    <%= f.submit t('helpers.submit.update'), class:"ml-2 btn btn-primary faort-end" %>
  </div>
<% end %>