


<div class="show_reply" id="comment-<%= reply.id %>">
  <div class="show_post_header">
    <div>
      <%= image_tag reply.user.avatar.url, class: 'post_user_image' %>
      <%= reply.user.name %>
    </div>
    <div>
      <%= l reply.created_at, format: :default %>
    </div>
  </div>

  <div id="show-comment-<%= reply.id %>">


  <div class="show_comment_body">
    <%= raw Rinku.auto_link(simple_format(h(reply.body)), :urls, 'target="_black"') %>
    <% if reply.comment_image.present? %>
      <%= link_to reply.comment_image.url, "data-lightbox": reply.comment_image do %>
        <div class="comment_show_image">
          <%= image_tag reply.comment_image.to_s %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="show_comment_footer">
    <div>
    <% if current_user&.own?(reply) %>
      <button class="btn_show_text fas fa-edit edit-comment-btn" data-comment-id="<%= reply.id %>">
        <%= t('helpers.submit.edit') %>
      </button>
        <%= link_to t('helpers.submit.delete'),
                  post_comment_path(reply.post, reply),
                  class: 'btn_show_text fas fa-trash-alt',
                  data: { turbo_method: :delete, 
                  turbo_confirm: t('helpers.submit.delete_comfirm') }  %>
    <% else %>
      <%= render 'comment_favorites/comment_favorite_buttons', { comment: reply } %>
    <% end %>
    </div>

  </div>
  </div>
  <div id="edit-comment-<%= reply.id %>", class="edit-comment-form", style="display: none;">
    <%= render 'comments/form_edit',post: @post, comment: reply %>
</div>
  
</div>




