<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1><%= t('.title') %></h1>
      <div class="card mb-5" id="comment-<%= @comment.id %>">
        <div class="card-header d-flex justify-content-between align-items-center">
          <%= image_tag @comment.user.avatar.url, width: '50', height: '50'  %>
          <div class="col">
            <ul class="list-inline">
              <li><%= @comment.user.name %></li>
              <li><%= l @comment.created_at, format: :short %></li>
            </ul>
          </div>
        </div>
        <div class="card-body mb-1">
          <%= render 'comments/form_edit',post: @post, comment: @comment %>
        </div>
      </div>
    </div>
  </div>
</div>
