<footer>
  <div class='container footer_list'>
    <%= link_to '/', class: 'footer_item' do %>
      <i class="fas fa-home"></i>
      トップページ
    <% end %>
    <%= link_to new_post_path, class: 'footer_item' do %>
      <i class="fas fa-pen"></i>
      <%= t('header.create_post') %>
    <% end %>
    <%= link_to profile_path, class: 'footer_item' do %>
      <i class="fas fa-user"></i>
      <%= t('header.mypage') %>
    <% end %>
    <%#= link_to t('header.logout'), logout_path, data: { turbo_method: :delete },class: 'footer_text' %>
    <%= link_to post_notifications_path, class: 'footer_item' do %>
      <% if unchecked_notifications.any? %>
        <i class="fas fa-bell notice"></i>
      <% else %>
        <i class="fas fa-bell"></i>
      <% end %>
      通知一覧
    <% end %>
  </div>
</footer>