<header class="mb-3">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="flex-left">
        <%= link_to '/', class: 'navbar-brand' do %>
          Home Care Community
        <% end %>
      </div>
      <div class="flex-right">
        <%= link_to t('header.create_post'), new_post_path, class: 'link-dark text-decoration-none' %>
        <%= link_to t('header.mypage'), profile_path, class: 'link-dark text-decoration-none' %>
        <%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete },class: 'link-dark text-decoration-none' %>
        <%= link_to post_notifications_path, class: 'link-dark text-decoration-none' do %>
          <% if unchecked_notifications.any? %>
            <i class="fas fa-bell notice"></i>
          <% else %>
            <i class="far fa-bell"></i>
          <% end %>
          通知一覧
        <% end %>
      </div>
    </div>
  </nav>
</header>