<% content_for(:title, t('.title')) %>
<div class="container">
  <div class='row justify-content-center mx-auto'>
    <div class="notification_box">
      <h2 class="mb-3 text-center"><%= t('.title') %></h2>
      <%= link_to t('.all_delete'), checked_all_post_notifications_path, data: { turbo_method: :delete, 
             turbo_confirm: t('.all_delete_comfirm') }, class:"btn btn-light fas fa-trash fw-bold border" %>
      <% if @notifications.any? %>
        <% @notifications.each do |notification| %>
          <% if notification.respond_to?(:post_id) %>
            <%= render partial: 'notifications/post_notification', locals: { notification: notification } %>
          <% else %>
            <%= render partial: 'notifications/comment_notification', locals: { notification: notification } %>
          <% end %>
        <% end %>
      <% else %>
        <p class="text-center"><%= t('.no_result') %></p>
      <% end %>
    </div>
  </div>
</div>