<% content_for(:title, t('.title')) %>
<div class="top_title">
  <%= t('.title') %>
</div>
<div class="notification_main_content">
  <div class="notification_header">
    <div>
      <p>通知：<%= @notifications.count %>件</p>
    </div>
    <div>
      <%= link_to t('.all_delete'), checked_all_post_notifications_path, data: { turbo_method: :delete, 
        turbo_confirm: t('.all_delete_comfirm') }, class:"btn btn_all_checked fas fa-trash" %>
    </div>
  </div>
  <% if @notifications.any? %>
    <% @notifications.each do |notification| %>
      <% if notification.respond_to?(:post_id) %>
        <%= render partial: 'notifications/post_notification', locals: { notification: notification } %>
      <% else %>
        <%= render partial: 'notifications/comment_notification', locals: { notification: notification } %>
      <% end %>
    <% end %>
  <% end %>
</div>

