<div class="col-10 mb-4">
  <div id="post-id-<%= post.id %>">
    <div class='card mb-3'>
      <div class="card-header d-flex">
        <%= image_tag post.user.avatar.url, class: 'post_index_image' %>
        <div class="col-2">
          <ul class="list-inline">
            <li><%= post.user.name %></li>
            <li><%= l post.created_at, format: :short %></li>
          </ul>
        </div>
        <div class="col-2">
          <% if post.question? %>
            <span class="post_type_question"><%= post.post_type_i18n %></span>
          <% else %>
            <span class="post_type_tweet"><%= post.post_type_i18n %></span>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <%= post.body.truncate(30) %>
      </div>
      <div class="card-footer">
        <% if post.tags.present? %> 
          <% post.tags.each do |tag| %>
            <span class="badge rounded-pill bg-primary text-white"><%= tag.name %></span>
          <% end %>
        <% end %>
      </div>
        <%= link_to post_path(post), class: 'stretched-link text-decoration-none link-dark' do %>
        <% end %>
    </div>
  </div>
</div>
