<%= link_to post_path(post), class: 'text-decoration-none' do %>
<div id="post-id-<%= post.id %>", class="post_content">

  <div class='post_header'>
    <% if post.question? %>
      <span class=""><%= post.post_type_i18n %></span>
    <% else %>
      <span class=""><%= post.post_type_i18n %></span>
    <% end %>
    <%= time_ago_in_words(post.created_at).upcase %>前
  </div>
  <div class="post_body">
    <%= post.body.truncate(50) %>
    <% if post.post_image.present? %>
        <%= image_tag post.post_image.url, class: 'post_index_image' %>
    <% end %>
  </div>
  <div class="post_tag_list fas fa-tags">
    <% if post.tags.present? %> 
      <% post.tags.each do |tag| %>
        <span class="post_tag"><%= tag.name %></span>
      <% end %>
    <% end %>
  </div>
  
</div>

<% end %>