<div class="row mb-5">
  <div class="col-lg-10 offset-lg-1">
    <%= form_with url: search_posts_path, local: true, method: :get do |f| %>
      <div class="row">
        <div data-controller="autocomplete" data-autocomplete-url-value="/posts/autocomplete_word" role="combobox" class=" col-sm-6" style="z-index: 100;">
          <div class='form-group'>
            <%= f.text_field :keyword, data: { autocomplete_target: 'input' }, class: 'form-control', placeholder: "本文・タグからキーワード検索" %>
            <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
            <ul class="list-group position-absolute w-100 list-unstyled" style="max-width: max-content;" data-autocomplete-target="results"></ul>
          </div>
        </div>
        <div class='form-group col-sm-3'>
          <%= f.collection_select :post_type, 
                                  [['質問', 0], ['つぶやき', 1]], 
                                   :last, 
                                   :first,
                                   { include_blank: '質問・つぶやき' }, 
                                   { class: 'form-control' } %>
        </div>
        <div class="form-group col-sm-3">
          <%= f.submit t('helpers.submit.search') %>  
        </div>
      </div>
    <% end %>
  </div>
</div>