<% content_for(:title, t('.title')) %>
<div class="top_title">
  <% if @post.question? %>
    <%= @post.post_type_i18n %><%= t('.title') %>
  <% else %>
    <%= @post.post_type_i18n %><%= t('.title') %>
  <% end %>
</div>
<div class="main_content">
  <div class="show_post">
    <div class="show_post_header">
      <div class="show_post_header_left">
        <%= image_tag @post.user.avatar.url, class: 'post_user_image' %>
        <%= @post.user.name %>
      </div>
      <div class="show_post_header_right">
        <%= l @post.created_at, format: :default %>
      </div>
    </div>
    <div class="show_post_body">
      <%= raw Rinku.auto_link(simple_format(h(@post.body)), :urls, 'target="_black"') %>
      <% if @post.post_image.present? %>
        <%= link_to @post.post_image.url, "data-lightbox": @post.post_image do %>
          <div class="post_show_image">
            <%= image_tag @post.post_image.to_s %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="post_tag_list fas fa-tags">
        <% if @post.tags.present? %> 
        <% @post.tags.each do |tag| %>
          <span class="post_tag"><%= tag.name %></span>
        <% end %>
      <% end %>
    </div>
    <div class="show_post_footer">
    <% if logged_in? %>
      <% if current_user&.own?(@post) %>
          <%= link_to t('helpers.submit.edit'), edit_post_path(@post), class: 'btn_show_text fas fa-edit' %>
          <%= link_to t('helpers.submit.delete'),
                  post_path(@post),
                  class: 'btn_show_text fas fa-trash-alt',
                  data: { turbo_method: :delete, 
                  turbo_confirm: t('helpers.submit.delete_comfirm') }  %>
      <% else %>
        <%= render 'post_favorites/post_favorite_buttons', { post: @post } %>
      <% end %>
    <% end %>
    </div>
  </div>
  <% if logged_in? %>
    <p><%= @comments_count %>件のコメント<p>
    <%= render "comments/comment", post: @post %> 
  <% else %>
    <p class="text-center"> コメントはログイン後に閲覧できます</p>
  <% end %>
</div>

<%= render 'comments/form',post: @post, comment: @comment %>